html{
	height:100%;
	max-height: 100%;
}
body {
	padding-top: 70px;
	font-family: "Microsoft YaHei";
	background: #EEF2F3 url('../images/body_bg.jpg') center top no-repeat ;
	padding-bottom: 60px;
	height: 100%;
	max-height: 100%;
	position: relative;
}
footer{
	display: none;
	background: #f8f8f8;
	position: absolute;
	bottom:0;
	left: 0;
	width: 100%;
	height:60px;
	padding-top: 20px;
	padding-bottom: 20px;
    color: #999;
    border-top: 1px solid #e5e5e5;
}
img{
	max-width: 100%;
}
.contentbg{
	background-color: rgba(65,95,130,0.25);
	padding-top: 20px;
	padding-bottom: 20px;
}
.section-main{
	background: #fff;
}
.col-login{
	background: #f8f8f8;
}
.post-content{
	margin-left: -15px;
}
.post-item{
	background: #f8f8f8;
}
.pagination a{
	cursor: pointer;
}